/*! @import */

@tailwind base;
@tailwind utilities;

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: currentColor;
}

.svg-icon circle {
  stroke: currentColor;
  stroke-width: 1;
}

.tracktor-element-highlighted {
  border: 1px solid red;
}
